# Ignore the project executable
fdf

# Ignore object files
*.o

# Ignore compiled static libraries
libft/libft.a

# Ignore temporary files and cache
*.swp
*.swo
*.tmp
*.log
.DS_Store

# Ignore IDE configuration folders
.vscode/
.idea/


# Ignore text files
*.txt